################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Niveau/Sang6_Tuan6EF/appsettings.json
