<html>
<head>
    <h1>Welcome to Our App, {{FirstName}}!</h1>
</head>
<body>
    <h1>Welcome to Our App</h1>
    <p>Thank you for registering with us.</p>
    <p>Enjoy your journey on our website.</p>
    <p>To get started, please verify your email by clicking on the link below:</p>
    <a href="{{VerificationLink}}">Verify Email</a>
</body>
</html>
