@model int
@{
    Layout = "~/Areas/User/Views/Shared/_AuthorizeLayout.cshtml";
}
<h2>Thanh toán Thất bại !</h2>

<a asp-controller="ShoppingCart" asp-action="Index">
    <button class="btn btn-outline-dark">
        <i>Quay lại giỏ hàng</i>
    </button>

</a>
